<app-menu-title></app-menu-title>
<div class="articles__container">
  <div class="articles__container__main">
    <app-card-big
    id="1"
    card_big_image="../../../assets/images/img1.jpeg"
    card_big_image_sub="subsub"
  card_big_title="1234"
    card_big_desc="lorem sdakjfh kl lksfdjalsk  sjdkfskfdkjsalfas skldfjasldkf sfjaslkfjsa klasdfjlask
    lsakdfjlskajdf alksjfdlskafj skj!"
    ></app-card-big>
    <app-card-big
    id="2"
    card_big_image="../../../assets/images/img1.jpeg"
    card_big_image_sub="subsub"
    card_big_title="Conheça os lugares mais legais!"
    card_big_desc="lorem sdakjfh kl lksfdjalsk  sjdkfskfdkjsalfas skldfjasldkf sfjaslkfjsa klasdfjlask
    lsakdfjlskajdf alksjfdlskafj skj!"
    ></app-card-big>

  </div>
  <div class="articles__container__others">
    <app-card-small
    id="10"
    card_small_image="../../../assets/images/img1.jpeg"
    card_small_title="lorem sdakjfh kl lksfdjalsk  sfjaslkfjsa klasdfjlask
    lsakdfjlskajdf alksjfdlskafj skj!"
    card_small_desc="Conheça os lugares"
    ></app-card-small>
    <app-card-small
    id="11"
    card_small_image="../../../assets/images/img1.jpeg"
    card_small_title="lorem sdakjfh kl lksfdjalsk  sfjaslkfjsa klasdfjlask
    lsakdfjlskajdf alksjfdlskafj skj!"
    card_small_desc="Conheça os lugares"
    ></app-card-small>
    <app-card-small
    id="12"
    card_small_image="../../../assets/images/img1.jpeg"
    card_small_title="lorem sdakjfh kl lksfdjalsk  sfjaslkfjsa klasdfjlask
    lsakdfjlskajdf alksjfdlskafj skj!"
    card_small_desc="Conheça os lugares"
    ></app-card-small>
    <app-card-small
    id="13"
    card_small_image="../../../assets/images/img1.jpeg"
    card_small_title="lorem sdakjfh kl lksfdjalsk  sfjaslkfjsa klasdfjlask
    lsakdfjlskajdf alksjfdlskafj skj!"
    card_small_desc="Conheça os lugares"
    ></app-card-small>
    <!-- <app-card-small *ngFor="let c of contents"
    card_small_desc="{{ sub }}"
    card_small_image="{{ photo }}"
    card_small_title="{{ title }}"
    ></app-card-small> -->
  </div>
</div>

