<app-menu-bar></app-menu-bar>
<app-menu-title></app-menu-title>
<div class="articles__container">
  <div class="articles__container__main">
    <app-card-big
    card_big_image="../../../assets/images/img1.jpeg"
    card_big_image_sub="subsub"
    card_big_title="Conheça os lugares mais legais!"
    card_big_desc="lorem sdakjfh kl lksfdjalsk  sjdkfskfdkjsalfas skldfjasldkf sfjaslkfjsa klasdfjlask
    lsakdfjlskajdf alksjfdlskafj skj!"
    ></app-card-big>
    <app-card-big
    card_big_image="../../../assets/images/img1.jpeg"
    card_big_image_sub="subsub"
    card_big_title="Conheça os lugares mais legais!"
    card_big_desc="lorem sdakjfh kl lksfdjalsk  sjdkfskfdkjsalfas skldfjasldkf sfjaslkfjsa klasdfjlask
    lsakdfjlskajdf alksjfdlskafj skj!"
    ></app-card-big>

  </div>
  <div class="articles__container__others">
    <app-card-small
    card_small_image="../../../assets/images/img1.jpeg"
    card_small_title="lorem sdakjfh kl lksfdjalsk  sfjaslkfjsa klasdfjlask
    lsakdfjlskajdf alksjfdlskafj skj!"
    card_small_desc="Conheça os lugares"
    ></app-card-small>
    <app-card-small
    card_small_image="../../../assets/images/img1.jpeg"
    card_small_title="lorem sdakjfh kl lksfdjalsk  sfjaslkfjsa klasdfjlask
    lsakdfjlskajdf alksjfdlskafj skj!"
    card_small_desc="Conheça os lugares"
    ></app-card-small>
    <app-card-small
    card_small_image="../../../assets/images/img1.jpeg"
    card_small_title="lorem sdakjfh kl lksfdjalsk  sfjaslkfjsa klasdfjlask
    lsakdfjlskajdf alksjfdlskafj skj!"
    card_small_desc="Conheça os lugares"
    ></app-card-small>
    <app-card-small
    card_small_image="../../../assets/images/img1.jpeg"
    card_small_title="lorem sdakjfh kl lksfdjalsk  sfjaslkfjsa klasdfjlask
    lsakdfjlskajdf alksjfdlskafj skj!"
    card_small_desc="Conheça os lugares"
    ></app-card-small>
  </div>
</div>

