.card__small__container {
  display: flex;
  margin: 24px 0;
  padding: 16px;
}

.card__small__texts {
  padding: 16px;
}

p {
  color: #bbb;
  font-style: italic;
}

h4 {
  margin: 8px 0 16px;
  font-size: 18px;
}
